{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)

  Usage:
  {% render 'card-product-upsell', card_product: product %}
{% endcomment %}

<li class="tw-flex tw-flex-col tw-gap-2.5 tw-justify-between splide__slide" data-upsell-card>
    {% render 'product-card', product: card_product %}
</li>