.collection_slider-inner {
  min-width: 15%;
  max-width: 15%;
  margin: 0 8px;
} 
@media screen and (min-width: 990px){
  .collection_slider-inner {
    min-width: 7%;
    max-width: 7%;
    margin: 0 18px;
  }  
}
.collection_slider-inner-image{
  min-width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.collection_slider-inner-text{
  text-align: center;
  margin-top: 6px;
}
.collection_slider-inner img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
@media screen and (max-width: 750px) {
  .collection_slider-inner-text{
    line-height: normal;
  }
}
.custom-collection-slider::-webkit-scrollbar {
  width: 8px;
}