.page p:empty,
.page h2:empty {
  display: block;
  margin-bottom: 30px;
}

.page p:empty + p:empty,
.page h2:empty + h2:empty {
  display: none;
}

.page img {
  width: 100%;
  margin-bottom: 30px;
}

.page-content-container {
  gap: 28px;
}

.page-content-container ul {
  list-style: disc;
  padding-left: 40px;
  margin: 15px 0;
}

.page-content-container ol {
  list-style: decimal;
  padding-left: 40px;
  margin: 15px 0;
}

.page p {
  color: #3D3D3D;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.page .page_heading {
  position: relative;
  margin-bottom: 20px;
}

.page .page_heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 20%;
  background-color: #4D8091;
}

.page-title h1 {
  font-size: 20px;
  line-height: 28px;
}

.page_heading h1 {
  font-size: 18px;
  line-height: 20px;
}
.page_content h1 {
  font-size: 21px;
  font-weight: 500;
}
.brand-sub-heading p {
  font-size: 10px;
}

@media screen and (min-width: 750px) {
  .page p:empty,
  .page h2:empty {
    margin-bottom: 28px;
  }
  .page img {
    margin-bottom: 28px;
  }
  .grid--2-col-desktop .grid__item {
    width: calc(50% - 28px / 2);
    max-width: calc(50% - 28px / 2);
  }
  .page p {
    font-size: 17px;
    line-height: 24px;
  }
  .page .page-content-container .grid__item {
    margin-bottom: 10px;
  }
  .page .page_heading::before {
    bottom: -13px;
  }
  .page-title h1 {
    font-size: 34px;
  }
  .page_heading h1 {
    font-size: 35px;
  }
  .page_content h1 {
    font-size: 31px;
  }
  .brand-sub-heading p {
    font-size: 19px;
  }
}