.page p:empty {
  display: block;
  margin-bottom: 30px;
}

.page p:empty + p:empty {
  display: none;
}

.page img {
  width: 100%;
  margin-bottom: 30px;
}

.page-content-container {
  column-gap: 28px;
}

.page p {
  color: #3D3D3D;
  font-family: Arial;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.page .page-content-container .grid__item:not(:last-child) {
  margin-bottom: 30px;
}

.page .page_heading {
  position: relative;
  margin-bottom: 20px;
}

.page .page_heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -13px;
  height: 2px;
  width: 20%;
  background-color: #DDDDDD;
}

@media screen and (min-width: 750px) {
  .page p:empty {
    margin-bottom: 28px;
  }
  .page img {
    margin-bottom: 28px;
  }
  .grid--2-col-desktop .grid__item {
    width: calc(50% - 28px / 2);
    max-width: calc(50% - 28px / 2);
  }
  .page p {
    font-size: 15px;
  }
  .page .page-content-container .grid__item {
    margin-bottom: 10px;
  }
}