:root {
  --primary-color: #5d9aaf;
  --secondary-color: #c2c67a;
  --color-alert: #f11516;
}
.red-color {
  color: #60919F;
}
.red-color-bold {
  color: #60919F;
  font-weight: 700;
}
.red-color-bolder {
  color: #60919F;
  font-weight: 700;
  font-size: 24px;
  display: inline-block;
  padding-bottom: 4px;
}
.black-color-bolder {
  color: #000000;
  font-weight: 700;
}
.faq-red-medium {
  color: #60919F;
  font-weight: 500;
}
.faq-red-bold {
  color: #60919F;
  font-weight: 700;
  font-size: 23px;
}
.faq-black-bold {
  color: #000;
  font-weight: 700;
}
.faq-red-italic {
  color: #60919F;
  font-weight: 700;
  font-style: italic;
  font-size: 19px;
}
.review-red-bold {
  color: #60919F;
  font-weight: 700;
  font-style: italic;
  display: inline-block;
  padding-bottom: 12px;
}
.instr-black-color-bolder {
  color: #595959;
  font-weight: 700;
  font-style: italic;
}
.instr-red-color-bolder {
  color: #60919F;
  font-weight: 700;
}
.instr-red-italic-bolder {
  color: #60919F;
  font-weight: 700;
  font-style: italic;
  font-size: 26px;
}
.instr-red-size-bolder {
  color: #60919F;
  font-weight: 700;
  font-size: 28px;
}
@media screen and (max-width: 990px) {
  .red-color-bolder {
    line-height: 26px;
    padding-bottom: 8px;
    font-size: 22px;
  }
  .faq-red-bold {
    font-size: 15px;
    margin-bottom: 6px;
    display: inline-block;
  }
  .faq-red-italic {
    font-size: 12px;
  }
  .instr-red-italic-bolder {
    font-size: 16px;
  }
  .instr-red-size-bolder {
    font-size: 18px;
  }
}
table.product-information-table tr:nth-child(even) {
  background-color: #BCE3EE;
  color: #000;
}
table.product-information-table tr th:first-child,
table.product-information-table tr td:first-child {
  text-align: left;
  padding-left: 26px;
}
table.product-information-table tr th:not(:first-child),
table.product-information-table tr td:not(:first-child) {
  text-align: center;
}
table.product-information-table thead {
  border-bottom: 2px solid #D9D9D9;
}
table.product-information-table thead th {
  padding-bottom: 10px;
}
.collapsible-content--details.active {
  color: #000;
  background: #EFEFC8;
  border: 1.5px solid #999;
  border-bottom: none;
  font-weight: 600;
  z-index: 2;
}
.tabs-button:not(.active) {
  color: #FFF;
  background: #60919F;
  border: 2px solid #FFF;
  border-bottom: none;
  font-weight: 500;
  z-index: 1;
}
.tabs-button {
  padding: 21px 49px 9px 49px;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  border-radius: 40px 40px 0px 0px;
  margin-left: -20px;
  position: relative;
  text-transform: uppercase;
}
.tabs-button:first-child {
  margin-left: 0;
}
.tabs-button:last-child {
  z-index: 0;
}
.tab-switch-content {
  background: #EFEFC8;
  border: 1.5px solid #999;
  padding: 0 54px;
  border-radius: 0px 40px 40px 40px;
  margin-top: -1px;
}
.tabs-buttons {
  display: flex;
}
.list-column {
  border-right: 1px solid #D9D9D9;
}
.list-column:last-child {
  border-right: none;
}
@media screen and (max-width: 990px) {
  .collapsible-content--details.active {
    background: #60919F;
    color: #FFF;
    border: 1.5px solid #fff;
    border-bottom: none;
  }
  tab-switch-product details[open] summary {
    padding: 12px 0 12px 0; 
  }
  .tab-switch-content {
    border: 1.5px solid #fff;
  }
  .tabs-buttons {
    flex-direction: column;
  }
  .tabs-button {
    margin-left: 0;
    border-radius: 20px 20px 0px 0px;
    padding: 12px 0 24px 0;
    font-size: 12px;
    margin-top: -24px;
  }
  .tabs-button:first-child {
    margin-top: -14px;
  }
  .collapsible-content--details.active {
    z-index: 2;
  }
  .collapsible-content--details.active:first-child {
    z-index: 2;
  }
  .tabs-button:not(.active) {
    z-index: 2;
    border: none;
    border-top: 2px solid #FFF;
  }
  .tab-switch-content {
    border-radius: 0 0 20px 20px;
    padding: 0 20px;
    padding-bottom: 20px;
  }
  .tabs-button:last-child {
    padding: 12px 0 12px;
  }
  table.product-information-table tr th:first-child,
  table.product-information-table tr td:first-child {
    padding-left: 10px;
  }
  tab-switch-product details[open] svg {
    transform: rotate(180deg);
  }
  .tabs-button.collapsible-content--details {
    font-weight: 600;
  }
}
.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 55%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media screen and (max-width: 1024px) {
  .tab-switch-page-width {
    padding: 0 25px;
  }
}

.product-description-tab {
  padding: 30px 0px;
}

.product-description-tab img {
  height: auto;
}

.product-description-tab .section {
  padding: 0px 30px; 
}

.product-description-tab [data-text-color="primary"] {
  color: var(--primary-color);
}

.product-description-tab [data-text-color=secondary] {
  color: var(--secondary-color);
}
.product-description-tab [data-text-color=alert] {
  color: var(--color-alert) ;
}
.product-description-tab .video iframe {
  width: 100%;
}

.product-description-tab p {
  margin-bottom: 1.3em;
}

.product-description-tab ol li,
.product-description-tab ul li {
  margin-left: 1.3em;
  list-style: disc;
}

.product-description-tab ul,
.product-description-tab ol {
  margin-bottom: 1.3em;
}

.product-description-tab h1,
.product-description-tab h2,
.product-description-tab h3,
.product-description-tab h4,
.product-description-tab h5 {
  margin-bottom: 10px;
  font-weight: 700;
  font-style: normal;
}
.product-description-tab a:empty, 
.product-description-tab ul:empty, 
.product-description-tab dl:empty, 
.product-description-tab div:empty, 
.product-description-tab section:empty, 
.product-description-tab article:empty, 
.product-description-tab p:empty, 
.product-description-tab h1:empty, 
.product-description-tab h2:empty, 
.product-description-tab h3:empty, 
.product-description-tab h4:empty,
.product-description-tab h5:empty, 
.product-description-tab h6:empty {
  display: none !important;
}

.product-description-tab table {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%
}

.product-description-tab .video {
  padding: 0px !important;
}
.row>div:not(.col):not([class^=col-]):not([class*=" col-"]) {
  width: 100%;
}

.row.row-grid,.row.row-masonry {
  display: block
}

.row.row-grid>.col,.row.row-masonry>.col {
  float: left
}

.container .row:not(.row-collapse),.lightbox-content .row:not(.row-collapse),.row .gallery,.row .row:not(.row-collapse) {
  margin: 0px -15px;
  padding: 0;
  width: auto
}

.row .container {
  padding: 0;
}

.banner+.row:not(.row-collapse),.banner-grid-wrapper+.row:not(.row-collapse),.section+.row:not(.row-collapse),.slider-wrapper+.row:not(.row-collapse) {
  margin-top: 30px;
}

.row-full-width {
  max-width: 100%;
}

.row-collapse {
  padding: 0;
}

.row-collapse>.col,.row-collapse>.flickity-viewport>.flickity-slider>.col {
  padding: 0;
}

.row-collapse>.col .container {
  max-width: 100%;
}

.container .row-small:not(.row-collapse),.row .row-small:not(.row-collapse) {
  margin-bottom: 0;
  margin: 0px -10px;
}


.small-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.small-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.small-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.small-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.small-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.small-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.small-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%
}

.small-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%
}

.small-9 {
  flex-basis: 75%;
  max-width: 75%
}

.small-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%
}

.small-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%
}

.col,.columns,.gallery-item {
  margin: 0;
  padding: 0 15px 30px;
  position: relative;
  width: 100%
}

.col-fit {
  flex: 1
}

.col-first {
  order: -1
}

.col-last {
  order: 1
}

.col-inner {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1 0 auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%
}

.col-has-radius {
  overflow: hidden
}

@media screen and (min-width: 550px) {
  .medium-1 {
      flex-basis:8.3333333333%;
      max-width: 8.3333333333%
  }

  .medium-2 {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%
  }

  .medium-3 {
      flex-basis: 25%;
      max-width: 25%
  }

  .medium-4 {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%
  }

  .medium-5 {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%
  }

  .medium-6 {
      flex-basis: 50%;
      max-width: 50%
  }

  .medium-7 {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%
  }

  .medium-8 {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%
  }

  .medium-9 {
      flex-basis: 75%;
      max-width: 75%
  }

  .medium-10 {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%
  }

  .medium-11 {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%
  }
}

@media screen and (min-width: 850px) {
  .large-1 {
      flex-basis:8.3333333333%;
      max-width: 8.3333333333%
  }

  .large-2 {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%
  }

  .large-3 {
      flex-basis: 25%;
      max-width: 25%
  }

  .large-4 {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%
  }

  .large-5 {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%
  }

  .large-6 {
      flex-basis: 50%;
      max-width: 50%
  }

  .large-7 {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%
  }

  .large-8 {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%
  }

  .large-9 {
      flex-basis: 75%;
      max-width: 75%
  }

  .large-10 {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%
  }

  .large-11 {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%
  }
  .col:first-child .col-inner {
    margin-left:auto;
    margin-right: 0
  }

  .col+.col .col-inner {
      margin-left: 0;
      margin-right: auto
  }
}

@media screen and (min-width: 750px) {
  .tabs-button:nth-of-type(1) {
    z-index: 3;
  }
  .tabs-button:nth-of-type(2) {
    z-index: 2;
  }
  .tabs-button:nth-of-type(3) {
    z-index: 1;
  }
}

.product-description-tab.pdp-description {
  padding: 30px;
  border-radius: 34px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}